<%= form_for @user do |f| %>
  <ul style="list-style: none;">
    <li><%= f.label :username, "Username: #{@user.username}" %></li>
    <li><%= f.label :email, "email: #{@user.email}" %></li>
  </ul>
<% end %>

<%= link_to "Create new user", new_user_path %>
